@model WDLMassage.Models.Outtake

@{
    ViewData["Title"] = "Create";
}

<h1>Outtake Survey</h1>

<h4>Please complete this intake survey to help us improve our service.</h4>
<hr />
<div>
    For each of the following questions, please respond with a number between 1 and 5 to describe how you felt about your service:
    <ol>
        <li>Very Dissatisfied</li>
        <li>Dissatisfied</li>
        <li>Neutral</li>
        <li>Satisfied</li>
        <li>Very Satisfied</li>
    </ol>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Fkappointment" />
            <div class="form-group">
                <label asp-for="RatingProfessional" class="control-label">How professional was the massage therapist?</label>
                <input asp-for="RatingProfessional" class="form-control" min="1" max="5" />
                <span asp-validation-for="RatingProfessional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatingAddressedNeeds" class="control-label">Did the therapist address your specific needs?</label>
                <input asp-for="RatingAddressedNeeds" class="form-control" min="1" max="5" />
                <span asp-validation-for="RatingAddressedNeeds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatingMassageQuality" class="control-label">How was the overall massage quality?</label>
                <input asp-for="RatingMassageQuality" class="form-control" min="1" max="5" />
                <span asp-validation-for="RatingMassageQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalScore" class="control-label">How would you rate your overall experience?</label>
                <input asp-for="TotalScore" class="form-control" min="1" max="5" />
                <span asp-validation-for="TotalScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label">Are there any additional comments you'd like to provide about your experience?</label>
                <textarea input asp-for="Comments" class="form-control" rows="6" maxlength="199"></textarea>@*<input asp-for="Comments" class="form-control" />*@
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsComplete" /> @Html.DisplayNameFor(model => model.IsComplete)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="Fkappointment" class="control-label"></label>
            <select asp-for="Fkappointment" class ="form-control" asp-items="ViewBag.Fkappointment"></select>
        </div>
        <div class="form-group">
            <label asp-for="Fkstaff" class="control-label"></label>
            <select asp-for="Fkstaff" class ="form-control" asp-items="ViewBag.Fkstaff"></select>
        </div>
        <div class="form-group">
            <label asp-for="Fkclient" class="control-label"></label>
            <select asp-for="Fkclient" class ="form-control" asp-items="ViewBag.Fkclient"></select>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Submit Survey" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Appointments">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
