@{
    ViewData["Title"] = "Terms and Conditions";
}

<h1>@ViewData["Title"]</h1>

<section>
    Your use of Our Web Site is subject to these terms and conditions. Thank you for choosing us to book a massage and provide an opportunity for our students to attain real-world practice.
    <br /><br />
    This website provides a reservation service (the "Services") for a range of massages ("Massages") that are performed by students. It is specified here that the term “Massage” means well-being and relaxation. Therefore, Massage has no therapeutic and/or medical purpose.
    <br />
    <p>
        <h5>OUR SERVICES</h5>
        The Services we offer allow you to create an account, search for massages, book an appointment, review staff information, review and submit survey feedback, and manage your personal massage appointments.  You are also able to make updates to your personal account information, and edit/delete surveys you've completed.  Payment is collected at time of service and is not collected through the website. We do not use email correspondence at this time. Cancellations processed through the website must processed within 48 hours prior to the appointment.  Any exceptions must be requested by phone.  Exceptions are not guaranteed.<br />
        In order to use this website and our services you must be over 18 years of age and have the ability to read and write English. You must also acknowledge that all information is completed on behalf of yourself, or with the expressed consent of a third party.<br />
    </p>
    <p>
        <h5>USE OF OUR SITE</h5>
        Please read Our Terms carefully and thoroughly. By registering for an account, you have acknowledged that you've read through and agreed to our terms.<br />

    </p>
    <p>
        <h5>PERSONAL DATA</h5>
        We use cookies and session variables to improve your experience. <br />
    </p>

    <p>
        <h5>REGISTRATION PROCESS & PAYMENT</h5>
        You can reserve an appointment slot through our website where you will be a able to see massage type, duration, start time, and staff member. Your payment will be collected at the time of service. Please arrive 15 minutes in advance of your appointment.  Cash is the only accepted form of payment. All payments and tips are given to the student performing your massage.

    </p>
    <p>
        <h5>PRICES</h5>
        Listed Massage fees include the full and final price before tip.  No additional tax or surcharges will be collected at time of payment.  All payments and tips are given to the student performing your massage.

    </p>
    <p>
        <h5>CANCELLATION & REFUNDS</h5>
        Cancellations processed through the website must processed within 48 hours prior to the appointment.  Any exceptions must be requested by phone.  Exceptions are not guaranteed. Refunds will not be issued.

    </p>
    <p>
        <h5>EXCEPTIONAL CIRCUMSTANCES</h5>
        If we are unable to provide a service at the requested, reserved time, we will make every effort to provide an alternative appointment that suits your needs and schedule. Because appointments are scheduled back-to-back, your appointment may not start on time.

    </p>


</section>