@model WDLMassage.Models.Intake

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Intake</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IntakePk" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FeelingWell" /> @Html.DisplayNameFor(model => model.FeelingWell)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Surgeries" class="control-label"></label>
                <input asp-for="Surgeries" class="form-control" />
                <span asp-validation-for="Surgeries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medications" class="control-label"></label>
                <input asp-for="Medications" class="form-control" />
                <span asp-validation-for="Medications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sensitives" class="control-label"></label>
                <input asp-for="Sensitives" class="form-control" />
                <span asp-validation-for="Sensitives" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FocusAreas" class="control-label"></label>
                <input asp-for="FocusAreas" class="form-control" />
                <span asp-validation-for="FocusAreas" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsComplete" /> @Html.DisplayNameFor(model => model.IsComplete)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Fkappointment" class="control-label"></label>
                <select asp-for="Fkappointment" class="form-control" asp-items="ViewBag.Fkappointment"></select>
                <span asp-validation-for="Fkappointment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fkclient" class="control-label"></label>
                <select asp-for="Fkclient" class="form-control" asp-items="ViewBag.Fkclient"></select>
                <span asp-validation-for="Fkclient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fkstaff" class="control-label"></label>
                <select asp-for="Fkstaff" class="form-control" asp-items="ViewBag.Fkstaff"></select>
                <span asp-validation-for="Fkstaff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
